In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
purchase_file = "Resources/purchase_data.csv"

# Read Purchasing File 
purchase_data = pd.read_csv(purchase_file)

# Store into dataframe
purchase_df = pd.DataFrame(purchase_data)
purchase_df.head()

   Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0  0,Lisim78,20,Male,108,"Extraction, Quickblade ...
1   1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2          2,Ithergue48,24,Male,92,Final Critic,4.88
3       3,Chamassasya86,24,Male,100,Blindscythe,3.27
4                  4,Iskosia90,23,Male,131,Fury,1.44